@import "../../variables";

.contacto-banner {
  height: calc(100vh - 80px);
  background-image: url(../../../imagenes/fondoContacto.png);
  background-size: cover;
  background-position: center;

  .contenedor-banner {
    .contenedor-titulo {
      @include contenedor-titulo;

      .titulo-seccion {
        @include titulo-seccion();
      }
      @media screen and (max-width: 400px) {
        .titulo-seccion {
          font-size: 26px;
        }
      }
    }
  }

  .contenedor-iconos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: calc(25vw * 0.2);

    .icono {
      width: 80px;
      padding: 10px;
      text-align: center;
      margin: 0 10px;
      transition: transform 0.3s ease-in-out;
    }
    .icono :hover {
      transform: scale(1.2);
    }
  }
}
