@import "../../variables";

.proyectos-banner {
  height: calc(100vh - 10px);
  background-color: black;
  background-image: url(../../../imagenes/imagenProyectos.png);
  background-size: cover;
  background-position: top center;
}
.contenedor-proyectos {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;

}
.proyecto {
  display: flex;
  flex-direction: column;
  
}
.proyecto:hover{
  transition: 0.3s;
  cursor: pointer;
  scale: 1.05;
 
}
.imagen {
  width: 270px;
  height: 180px;
  border-radius: 10px;
  
}
.imagen:hover{
  box-shadow: 0 4px 8px 0 rgba(253, 250, 250, 0.2), 0 6px 20px 0 rgba(253, 253, 253, 0.19);
}

.info-proyecto {
  display: flex;
  flex-direction: column;
}
.nombre-proyecto{
  font-family: $text-font;
  color: $text-color;
  font-size: 15px;
  text-align: center;
}

.contenedor-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  color: #fff;
}
.logos {
  display: flex;
}
.boton-link {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px 0px -25px;

  button {
    width: auto;
    background-color: black;
    font-family: $text-font;
    color: $text-color;
  }
  .btn {
    display: inline-block;
    color: #ffffff;
    padding: 22px;
    position: relative;
    letter-spacing: 1px;

    &__circle,
    &__text,
    &__white-circle {
      position: absolute;
    }

    &__circle {
      top: 0;
      left: 0;
      height: 100%;
      border-radius: 100%;
      width: 100%;
      box-shadow: -12px -1px 5px -2px #fff;
      transition: 0.3s linear;
    }

    &__white-circle {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      width: 56px;
      height: 56px;
      border-radius: 100%;
      background: #ffffff;
      display: flex;
      transition: 0.3s ease-in-out;
      box-shadow: 0px 0px 10px 5px #fff;

      svg {
        width: 20px;
        height: 20px;
        margin: auto;
      }
    }

    &__text {
      top: 50%;
      transform: translate(-9%, -50%);
      white-space: nowrap;
      z-index: 2;
      padding: 24px 8px;
      transition: 0.3s linear;
      font-family: $text-font;
      font-size: 16px;
    }

    &:hover {
      .btn__circle {
        transform: scale(0);
      }

      .btn__white-circle {
        transform: translate(-50%, -50%) scale(1);
      }

      .btn__text {
        transform: translate(40px, -50%);
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .swiper {
    width: 250px;
    height: auto;
  }
  .boton-link {
    .btn {
      &__text {
        font-size: 8px;
      }
    }
  }
}
