@import "../../variables";

*,
*::before,
*::after {
  box-sizing: inherit;
}

.proyectos-banner {
  height: 100vh;
  margin-top: -50px;
  background-image: url(../../../imagenes/imagenProyectos.png);
  background-size: cover;
  background-position: center;

  .contenedor-banner {
    .contenedor-titulo {
      @include contenedor-titulo;

      .titulo-seccion {
        @include titulo-seccion();
      }
      @media screen and (max-width: 400px) {
        .titulo-seccion {
          font-size: 26px;
        }
      }
    }

    .parrafo-seccion {
      @include descripcion();
    }
    @media screen and (max-width: 400px) {
      .parrafo-seccion {
        font-size: 17px;
        text-align: center;
      }
    }
  }
}

.swiper {
  width: 450px;
  height: auto;

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    border: 5px solid $secundary-color;
    background-color: $secundary-color;
    max-width: calc(100% - 48px);

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      border-radius: 8px;
    }

    .contenedor-descripcion-proyecto {
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 0;
      padding: 88px 16px 24px;
      box-sizing: border-box;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1.75)
      );
      border-radius: 0 0 8px 8px;

      .nombre-proyecto {
        color: $text-color;
        font-family: $text-font;
        width: 100%;
        margin: 0;
        font-weight: bold;
        font-size: 24px;
        line-height: 1.1;
      }

      .descripcion-proyecto {
        font-family: $text-font;
        text-align: center;
        margin: 8px 0 0;
        font-size: 15px;
        font-weight: 200;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        color: $text-color;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .swiper {
    width: 250px;
    height: auto;
  }
}
