@import "../variables";

.seccionSobreMi {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.nombre {
  font-family: "Vina Sans", cursive;
  color: $primary-color;
  font-size: 44px;
  letter-spacing: 1px;
}

.imgPerfil {
  height: 40%;
  border-radius: 50%;
  border: 1px solid $primary-color;
}

.descripcion {
  font-family: "ABeeZee", sans-serif;
  color: $primary-color;
  font-size: 80%;
}
