@import "../../variables";

.barra-progreso {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  .habilidad {
    font-weight: bold;
    color: $text-color;
  }

  .progreso {
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(0, 59, 126, 0.438);

    .progreso-interno {
      height: 100%;
      background-color: $secundary-color;
      transition: width 6s ease-in-out;
      border-radius: 10px;
    }
  }
  .icono-tooltip {
    background-color: $primary-color;
    color: $text-color;
    padding: 15px;
    border-radius: 12px;
    width: 300px;
    font-size: 22px;
  }
}
