.seccionHome {
  height: calc(100vh - 80px);
  background-image: url("../../../imagenes/fondoPortafolio.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  .contenedor-saludo-inicio {
    height: 300px;
    display: flex;
    place-content: center;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 270px;

    .galaxia-pantalla-grande {
      width: 45px;

      animation: rotate 15s linear infinite;

      @keyframes rotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      &.galaxia-pantalla-chica {
        width: 75px;
        margin: 0px;
      }
    }
  }

  .contenedor-btn-link {
    margin-bottom: 50px;
  }

  @media (max-width: 400px) {
    .contenedor-btn-link {
      margin-bottom: 100px;
    }
  }
}
