@import "../variables";

.frase-maquina-escribir {
  font-family: $text-font;
  letter-spacing: 2px;
  color: $text-color;
  text-align: center;
  transform: rotate(347deg);
  width: 100px;
  font-size: 15px;
  margin-bottom: 5px;
}
