@import "../../variables";

.navbar {
  display: flex;
  position: sticky;

  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: $primary-color;
  color: $text-color;
  top: 0;
  z-index: 1000;

  .navbar-left {
    display: flex;
    align-items: center;
  }

  .navbar-right {
    display: flex;

    .nav-link {
      margin-left: 15px;
      padding: 5px 10px;
      background-color: transparent;
      border: none;
      color: $text-color;
      cursor: pointer;
      font-size: 16px;
      font-family: $text-font;
      text-decoration: none;
    }
    @media (max-width: $pantalla-chica) {
      .nav-link {
        font-size: 9px;
      }
    }
  }
}
